**/.DS_Store
**/local.properties
**/project.properties

cpp/proj.ios_mac/build/

cpp/proj.ios_mac/sdkboxads.xcodeproj/xcuserdata
cpp/proj.ios_mac/sdkboxads.xcodeproj/project.xcworkspace/xcuserdata/

cpp/proj.android/gen/
cpp/proj.android/obj/
cpp/proj.android/bin/

cpp/proj.android/libs/gps/bin/
cpp/proj.android/libs/gps/gen/
cpp/proj.android/libs/gps/obj/

lua/frameworks/runtime-src/proj.android/bin/
lua/frameworks/runtime-src/proj.android/gen/
lua/frameworks/runtime-src/proj.android/obj/

js/frameworks/runtime-src/proj.android/bin/
js/frameworks/runtime-src/proj.android/gen/
js/frameworks/runtime-src/proj.android/obj/

js/frameworks/runtime-src/proj.ios_mac/build/
lua/frameworks/runtime-src/proj.ios_mac/build/

js/simulator
lua/simulator

cpp/proj.android/libs/armeabi
