**/.DS_Store
**/local.properties
**/project.properties

cpp/proj.ios_mac/build/

cpp/proj.ios_mac/sdkboxads.xcodeproj/xcuserdata
cpp/proj.ios_mac/sdkboxads.xcodeproj/project.xcworkspace/xcuserdata/

cpp/proj.android/gen/
cpp/proj.android/obj/
cpp/proj.android/bin/

cpp/proj.android/libs/gps/bin/
cpp/proj.android/libs/gps/gen/
cpp/proj.android/libs/gps/obj/

lua/frameworks/runtime-src/proj.android/bin/
lua/frameworks/runtime-src/proj.android/gen/
lua/frameworks/runtime-src/proj.android/obj/

js/frameworks/runtime-src/proj.android/bin/
js/frameworks/runtime-src/proj.android/gen/
js/frameworks/runtime-src/proj.android/obj/

js/frameworks/runtime-src/proj.ios_mac/build/
lua/frameworks/runtime-src/proj.ios_mac/build/

js/simulator
lua/simulator

cpp/proj.android/libs/armeabi
cpp/bin
cpp/proj.android/libs/bee7-android-sdk-gamewall/bin
cpp/proj.android/libs/bee7-android-sdk-gamewall/gen
backup-*.zip
backup-2016-*
lua/frameworks/runtime-src/proj.ios_mac/sdkboxadslua.xcodeproj/project.xcworkspace
lua/frameworks/runtime-src/proj.ios_mac/sdkboxadslua.xcodeproj/xcuserdata
js/frameworks/runtime-src/proj.ios_mac/sdkboxadsjs.xcodeproj/project.xcworkspace
js/frameworks/runtime-src/proj.ios_mac/sdkboxadsjs.xcodeproj/xcuserdata
